/* RESET */
img,html,body,div,span,h2,h3,h4,h5,h6,p,a,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* FIM RESET */
body {
	padding: 5px 0 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #3a3e3d;
}

iframe {
	width: 100%;
	display: block;
}

small {
	font-size: smaller;
}

hr {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	border: 0;
	border-bottom: solid 1px #DCDEDE;
	height: 1px;
}

table {
	margin: 0 0 10px;
	width: 100%;
	border: solid 0.1em #008888;
}

table table {
	margin: 0;
}

table th {
	background-color: #008888;	
	color: #fff !important;
}

table th {
	text-align: left;
}

ul {
	list-style: none;
}

strong,b {
	font-weight: bolder;
}

a,table a strong {
	color: #006666;
}

a {
	font-weight: bolder;
}

a:hover {
	text-decoration: none;
}

p {
	float: left;
	margin: 10px 0;
	line-height: 15px;
	width: 100%;
}

/* CSS PARA FORMULÁRIO */
input,select,textarea {
	float: left;
	margin: 0 4px 0 0;
	border: solid 1px #848D8C;
	font: inherit;
	padding: 2px 5px 1px;
	font-size: 12px;
}

table input[type="checkbox"] {
	float: none;
}

input[type="text"] {
	padding: 3px 5px 2px;
}

button[disabled]:active,button[disabled],input[type="reset"][disabled]:active,input[type="reset"][disabled],input[type="button"][disabled]:active,input[type="button"][disabled],select[disabled]>input[type="button"],select[disabled]>input[type="button"]:active,input[type="submit"][disabled]:active,input[type="submit"][disabled]
	{
	cursor: inherit;
	opacity: 0.5;
	filter: alpha(opacity =     50);
}

input[type="button"],input[type="submit"],input[type="reset"],button, .btn {
	background: #006666;
	overflow: visible;
	font-size: 11px;
	float: center;	
	margin: 0px 10px 10px 0px;
	padding: 4px 6px;
	color: #FFF;
	font-weight: bolder;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	border: solid 0.1em #006666;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover,.btn:hover
	{
	background-color: #008888;
	border: solid 0.1em #008888;
}

input[type="button"].alert-button:hover,input[type="submit"].alert-button:hover,input[type="reset"].alert-button:hover,button.alert-button:hover
	{
	background-color: #CC2E20;
	border: solid 0.1em #CC2E20;
}

input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active,button:active,.btn:active
	{
	border: solid 0.1em #008888;
	box-shadow: inset 1px 3px 9px #006c6c;
}

input[type="button"].alert-button:active,input[type="submit"].alert-button:active,input[type="reset"].alert-button:active,button.alert-button:active
	{
	background-color: #CC2E20;
	border: solid 0.1em #CC2E20;
	box-shadow: inset 1px 3px 9px #A2241A;
}

input[type="radio"] {
	margin: 2px 8px 0 8px;
}

input[type="text"]:focus,input[type="password"]:focus,select:focus,textarea:focus
	{
	background: #fcfce3;;	
}

input[type="checkbox"] {
	background: 0;
	border: 0;
}

fieldset {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 4px;
}

fieldset legend {
	font-weight: bold;
}

h2 {	
	float: left;
	margin: 10px 0;
	padding: 0 0 0 25px;
	width: 97.5%;
	font-size: 18px;
	color: black;
	text-transform: uppercase;
}

h1 {
	width: 540px;
	height: 25px;
	margin: 10px 0 10px;
	float: center;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: normal;
	color: #999;
}

