<div class="container" style="width: 60%">
	<h3>{{pageTitle}}</h3>

	<div class="jumbotron">
		<div>Streets names within the route ROUTE NAME</div>
		<div ng-show="routeStops.rows.length <= 0" class="alert alert-info" role="alert">No routes's stops found</div>
		<div ng-show="routeStops.rows.length > 0">
			<table class="table table-bordered customWhiteBG">
				<tr class="customSilverBG">
					<th>
						<a href="" ng-click="orderByField='stopName'; reverseSort = !reverseSort">
							Streets names
							<span ng-show="orderByField == 'stopName'">
							 	<span ng-show="!reverseSort">^</span>
							 	<span ng-show="reverseSort">v</span>
							</span>
						</a>
					</th>
				</tr>
				<tr ng-repeat="stop in routeStops.rows | orderBy:orderByField:reverseSort">
					<td>{{stop.name}}</td>
				</tr>
				<tr class="customSilverBG">
					<td colspan="2" align="left">Total route's stops found: {{routeStops.rows.length}}</td>
				</tr>		
			</table>
		</div>
		</br>
		<a href="#/">Back</a>
	</div>

	<div class="jumbotron">
		<div>Timetables for route ROUTE NAME</div>
		<div ng-show="routeDepartures.rows.length <= 0" class="alert alert-info" role="alert">No timetables found</div>
		<div ng-show="routeDepartures.rows.length > 0">
			<ul class="list-group">
				<li class="list-group-item">
					{{weekdayTimetables.calendar}}
					<div class="customMarginBottom">
						<span  ng-repeat="weekdayTime in weekdayTimetables.timetables" class="badge"> {{weekdayTime}} </span>
					</div>
					{{totalTimetablesText}}: {{weekdayTimetables.timetables.length}}
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					{{saturdayTimetables.calendar}}
					<div class="customMarginBottom">
						<span  ng-repeat="saturdayTime in saturdayTimetables.timetables" class="badge"> {{saturdayTime}} </span>
					</div>
					{{totalTimetablesText}}: {{saturdayTimetables.timetables.length}}
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					{{sundayTimetables.calendar}}
					<div class="customMarginBottom">
						<span  ng-repeat="sundayTime in sundayTimetables.timetables" class="badge"> {{sundayTime}} </span>
					</div>
					{{totalTimetablesText}}: {{sundayTimetables.timetables.length}}
				</li>
			</ul>
		</div>
		</br>
		<a href="#/">Back</a>
	</div>

</div>